{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<br/>
<section id="about_me">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    {{ with .Site.Params.about.image }}<img src="{{ . | absURL }}" alt="about-image">{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    {{ with .Site.Params.about.title }}<h2>{{ . }}</h2>{{ end }}
                    {{ with .Site.Params.about.subtitle1 }}<h3>{{ . }}</h3>{{ end }}
                    {{ with .Site.Params.about.content1 }}<p style="text-align: justify">{{ . | safeHTML }}</p>{{ end }}
                    {{ with .Site.Params.about.subtitle2 }}<h3>{{ . }}</h3>{{ end }}
                    {{ with .Site.Params.about.content2 }}<p style="text-align: justify">{{ . | safeHTML }}</p>{{ end }}
                    {{ with .Site.Params.about.subtitle3 }}<h3>{{ . }}</h3>{{ end }}
                    {{ with .Site.Params.about.content3 }}<p style="text-align: justify">{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Yours Truly</h3>
                <h3>Mohammad Sajid Anwar</h3>
                <p class="social-icons">
                [{{ with .Site.Params.about.github }}
                    <a href="{{ . }}" target="_blank">
                    <i class="ion-social-github"></i>
                    </a>
                {{ end }}]
                [{{ with .Site.Params.about.twitter }}
                    <a href="{{ . }}" target="_blank">
                    <i class="ion-social-twitter"></i>
                    </a>
                {{ end }}]
                [{{ with .Site.Params.about.linkedIn }}
                    <a href="{{ . }}" target="_blank">
                    <i class="ion-social-linkedin"></i>
                    </a>
                {{ end }}]
                </p>
            </div>
        </div>
    </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}
