{{ if .Site.Params.banner.enable }}
{{ "<!-- Slider Section Start -->" | safeHTML }}
<section id="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    {{ "<!-- Slider -->" | safeHTML}}
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".10s">
                            {{ with .Site.Params.banner.heading }}<span>{{ . }}</span>{{ end }}
                            <br>
                            <span class="cd-words-wrapper">
                                {{ range $index, $element := .Site.Params.banner.flipText }}
                                    {{ if eq $index 0 }}
                                    <b class="is-visible">{{ .title }}</b>
                                    {{else}}
                                    <b>{{ .title }}</b>
                                    {{end}}
                                {{ end }}
                            </span>
                        </h1>
                    </section>
                    <section>
                        <div class="row">
                            <div class="col-sm-3">
                                <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right" data-wow-delay=".9s"
                                href="{{ .Site.Params.banner.guestcontributionsURL }}">Guest Contributions
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right" data-wow-delay=".9s"
                                href="{{ .Site.Params.banner.perlreviewURL }}" >Latest Perl Review
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right" data-wow-delay=".9s"
                                href="{{ .Site.Params.banner.rakureviewURL }}" >Latest Raku Review
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right" data-wow-delay=".9s"
                                href="{{ .Site.Params.banner.youtubeChannel }}" >YouTube Channel
                                </a>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                {{ with .Site.Params.banner.taskLabel1 }}<p style="text-align:left; color: #02BDD5; font-size: 20px">
                                <strong>TASK #1: {{ . }}</strong></p>{{ end }}
                                {{ with .Site.Params.banner.taskDesc1 }}<p style="text-align:justify; color:black">{{ . }}</p>{{ end }}
                                {{ with .Site.Params.banner.taskLabel2 }}<p style="text-align:left; color: #02BDD5; font-size: 20px">
                                <strong>TASK #2: {{ . }}</strong></p>{{ end }}
                                {{ with .Site.Params.banner.taskDesc2 }}<p style="text-align:justify; color:black">{{ . }}</p>{{ end }}
                                {{ if .Site.Params.banner.btn }}
                                <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right" data-wow-delay=".9s"
                                href="{{ .Site.Params.banner.btnURL }}" >{{ .Site.Params.banner.btnText }}</a>
                                {{ end }}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                {{ with .Site.Params.banner.taskLabel1 }}<p style="text-align:left; color: #02BDD5; font-size: 20px">
                <strong>TASK #1: {{ . }}</strong></p>{{ end }}
                {{ with .Site.Params.banner.taskDesc1 }}<p style="text-align:justify; color:black">{{ . }}</p>{{ end }}
                {{ with .Site.Params.banner.taskLabel2 }}<p style="text-align:left; color: #02BDD5; font-size: 20px">
                <strong>TASK #2: {{ . }}</strong></p>{{ end }}
                {{ with .Site.Params.banner.taskDesc2 }}<p style="text-align:justify; color:black">{{ . }}</p>{{ end }}
            </div>
        </div>

    </div>
</section>
{{ "<!-- Slider Section End -->" | safeHTML }}
{{ end }}
