{{ if .Site.Params.banner.enable }}
{{ "<!-- Slider Section Start -->" | safeHTML }}

<section id="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">
                    {{ "<!-- Slider -->" | safeHTML}}
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".10s">
                            {{ with .Site.Params.banner.heading }}<span>{{ . }}</span>{{ end }}
                        </h1>
                    </section>
                    <section>
                        <div class="row g-2">
                            <div class="col-12 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 mb-2">
                                <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right w-100 text-wrap fs-6 py-2 px-2 lh-sm d-flex align-items-center justify-content-center" data-wow-delay=".9s"
                                href="{{ .Site.Params.banner.howToContributeURL }}" style="min-height: 42px;">How To Contribute ?
                                </a>
                            </div>
                            <div class="col-12 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 mb-2">
                                <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right w-100 text-wrap fs-6 py-2 px-2 lh-sm d-flex align-items-center justify-content-center" data-wow-delay=".9s"
                                href="{{ .Site.Params.banner.guestContributionsURL }}" style="min-height: 42px;">Guest Contributions
                                </a>
                            </div>
                            <div class="col-12 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 mb-2">
                                <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right w-100 text-wrap fs-6 py-2 px-2 lh-sm d-flex align-items-center justify-content-center" data-wow-delay=".9s"
                                href="{{ .Site.Params.banner.perlReviewURL }}" style="min-height: 42px;">Latest Perl Review
                                </a>
                            </div>
                            <div class="col-12 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 mb-2">
                                <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right w-100 text-wrap fs-6 py-2 px-2 lh-sm d-flex align-items-center justify-content-center" data-wow-delay=".9s"
                                href="{{ .Site.Params.banner.rakuReviewURL }}" style="min-height: 42px;">Latest Raku Review
                                </a>
                            </div>
                            <div class="col-12 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 mb-2">
                                <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right w-100 text-wrap fs-6 py-2 px-2 lh-sm d-flex align-items-center justify-content-center" data-wow-delay=".9s" href="{{ .Site.Params.banner.youTubeChannelURL }}" style="min-height: 42px;">YouTube Channel</a>
                            </div>
                            <div class="col-12 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 mb-2">
                                <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right w-100 text-wrap fs-6 py-2 px-2 lh-sm d-flex align-items-center justify-content-center" data-wow-delay=".9s"
                                href="{{ .Site.Params.banner.latestChampionURL }}" style="min-height: 42px;">Latest Champion
                                </a>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                {{ with .Site.Params.banner.taskLabel1 }}<p style="text-align:left; color: #02BDD5; font-size: 20px">
                                <strong>TASK #1: {{ . }}</strong></p>{{ end }}
                                {{ with .Site.Params.banner.taskDesc1 }}<p style="text-align:justify; color:black">{{ . }}</p>{{ end }}
                                {{ with .Site.Params.banner.taskLabel2 }}<p style="text-align:left; color: #02BDD5; font-size: 20px">
                                <strong>TASK #2: {{ . }}</strong></p>{{ end }}
                                {{ with .Site.Params.banner.taskDesc2 }}<p style="text-align:justify; color:black">{{ . }}</p>{{ end }}
                                {{ if .Site.Params.banner.btn }}
                                <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right" data-wow-delay=".9s"
                                href="{{ .Site.Params.banner.btnURL }}" >{{ .Site.Params.banner.btnText }}</a>
                                {{ end }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                               <h5 style="text-align:center; color: black; font-size: 15px">Join dicussions on <a href="https://www.facebook.com/groups/perlcommunity">Facebook</a> / <a href="https://discord.gg/MPPSaseE">Discord</a></h5>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Slider Section End -->" | safeHTML }}
{{ end }}
