{{ if .Site.Data.blogs.enable }}
{{ "<!-- Blogs Section Start -->" | safeHTML }}
<section id="blogs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{ with .Site.Data.blogs.title }}<h2 class="subtitle text-center">{{ . }}</h2>{{ end }}
            </div>
            {{ range $index, $element:= .Site.Data.blogs.members }}
            <div class="col-md-2 col-sm-6">
                {{ $delay := mul $index 100 }}
                <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="{{ $delay }}ms">
                    <p class="social-icons">
                        {{ with .url }}<a href="{{ . }}">{{ end }}
                        <img src="/images/blog/Blogs_thumb.jpg"></a>
                        {{ with .name }}<h3 class="team_name">{{ . }}</h3>{{ end }}
                    </p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- Perl5 Reviews Section End -->" | safeHTML }}
{{ end }}
