{{ if .Site.Data.challenges.enable }}
{{ "<!-- Challenges Section Start -->" | safeHTML }}
<section id="challenges">
    <div class="container">
        <table class="pwc-list">
            <tr class="pwc-list-row">
                <th class="pwc-center">Week</th>
                <th class="pwc-center">Date</th>
                <th>Challenges</th>
                <th colspan=3 class="pwc-center">Reviews</th>
            </tr>

            {{ range .Site.Data.challenges.members }}
            <tr class="pwc-list-row">
                <td class="pwc-week">
                    <a href="/blog/perl-weekly-challenge-{{ .week }}">
                       {{ .week }}
                    </a>
                </td>
                <td class="pwc-date pwc-right">{{ .date }}</td>
                <td>
                    <ul class="pwc-numbered">
                    {{- range $index, $element := .tasks }}
                        <li>
                            <span class="pwc-num">{{ add $index 1 }}.</span>
                            {{ . }}
                        </li>
                    {{- end }}
                    </ul>
                </td>
                {{- $fmt  := printf "/blog/%%s-challenge-%s" .week    }}
                {{- $recap:= $.Site.GetPage (printf $fmt "recap")     }}
                {{- $perl5:= $.Site.GetPage (printf $fmt "review")    }}
                {{- $raku := $.Site.GetPage (printf $fmt "p6-review") }}
                <td class="review">
                {{- with $recap }}
                    <a href="{{ .RelPermalink }}">Recap</a>
                {{- end }}
                </td>
                <td class="review">
                {{- with $perl5 }}
                    <a href="{{ .RelPermalink }}">Perl 5</a>
                {{- end }}
                </td>
                <td class="review">
                {{- with $raku }}
                    <a href="{{ .RelPermalink }}">Raku</a>
                {{- end }}
                </td>
            </tr>
            {{ end -}}

        </table>
    </div>
</section>
{{ "<!-- Challenges Section End -->" | safeHTML }}
{{ end }}
