<section id="chart">

    <!-- Members Chart -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInLeft;">
               <h2>MEMBERS</h2>
               </div>
            </div>
        </div>

        <div class="row" style="margin-left: 15px">
            <div class="col-xs-12 col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a id="pwc_summary_1_30" href="#pwc_summary_1_30_stats" role="tab" data-toggle="tab">1 .. 30</a>
                    </li>
                    <li>
                        <a id="pwc_summary_31_60" href="#pwc_summary_31_60_stats" role="tab" data-toggle="tab">31 .. 60</a>
                    </li>
                    <li>
                        <a id="pwc_summary_61_90" href="#pwc_summary_61_90_stats" role="tab" data-toggle="tab">61 .. 90</a>
                    </li>
                    <li>
                        <a id="pwc_summary_91_120" href="#pwc_summary_91_120_stats" role="tab" data-toggle="tab">91 .. 120</a>
                    </li>
                </ul>

                <div id="pwc-members-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

                <div class="tab-content">
                    <div class="tab-pane active in" id="pwc_summary_1_30_stats"></div>
                    <div class="tab-pane" id="pwc_summary_31_60_stats"></div>
                    <div class="tab-pane" id="pwc_summary_61_90_stats"></div>
                    <div class="tab-pane" id="pwc_summary_91_120_stats"></div>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <!-- Leaders Chart -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInLeft;">
               <h2>LEADERS</h2>
               </div>
            </div>
        </div>

        <div class="row" style="margin-left: 15px">
            <div class="col-xs-12 col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a id="pwc_leaders" href="#pwc_leaders_stats" role="tab" data-toggle="tab">Summary</a>
                    </li>
                </ul>

                <div id="pwc-leaders-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

                <div class="tab-content">
                    <div class="tab-pane active in" id="pwc_leaders_stats"></div>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <!-- Challenges Chart -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInLeft;">
               <h2>CHALLENGES</h2>
               </div>
            </div>
        </div>

        <div class="row" style="margin-left: 15px">
            <div class="col-xs-12 col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a id="pwc_current" href="#pwc_current_stats" role="tab" data-toggle="tab">Current</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_027" href="#pwc_challenge_027_stats" role="tab" data-toggle="tab">#027</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_026" href="#pwc_challenge_026_stats" role="tab" data-toggle="tab">#026</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_025" href="#pwc_challenge_025_stats" role="tab" data-toggle="tab">#025</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_024" href="#pwc_challenge_024_stats" role="tab" data-toggle="tab">#024</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_023" href="#pwc_challenge_023_stats" role="tab" data-toggle="tab">#023</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_022" href="#pwc_challenge_022_stats" role="tab" data-toggle="tab">#022</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_021" href="#pwc_challenge_021_stats" role="tab" data-toggle="tab">#021</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_020" href="#pwc_challenge_020_stats" role="tab" data-toggle="tab">#020</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_019" href="#pwc_challenge_019_stats" role="tab" data-toggle="tab">#019</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_018" href="#pwc_challenge_018_stats" role="tab" data-toggle="tab">#018</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_017" href="#pwc_challenge_017_stats" role="tab" data-toggle="tab">#017</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_016" href="#pwc_challenge_016_stats" role="tab" data-toggle="tab">#016</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_015" href="#pwc_challenge_015_stats" role="tab" data-toggle="tab">#015</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_014" href="#pwc_challenge_014_stats" role="tab" data-toggle="tab">#014</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_013" href="#pwc_challenge_013_stats" role="tab" data-toggle="tab">#013</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_012" href="#pwc_challenge_012_stats" role="tab" data-toggle="tab">#012</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_011" href="#pwc_challenge_011_stats" role="tab" data-toggle="tab">#011</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_010" href="#pwc_challenge_010_stats" role="tab" data-toggle="tab">#010</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_009" href="#pwc_challenge_009_stats" role="tab" data-toggle="tab">#009</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_008" href="#pwc_challenge_008_stats" role="tab" data-toggle="tab">#008</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_007" href="#pwc_challenge_007_stats" role="tab" data-toggle="tab">#007</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_006" href="#pwc_challenge_006_stats" role="tab" data-toggle="tab">#006</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_005" href="#pwc_challenge_005_stats" role="tab" data-toggle="tab">#005</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_004" href="#pwc_challenge_004_stats" role="tab" data-toggle="tab">#004</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_003" href="#pwc_challenge_003_stats" role="tab" data-toggle="tab">#003</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_002" href="#pwc_challenge_002_stats" role="tab" data-toggle="tab">#002</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_001" href="#pwc_challenge_001_stats" role="tab" data-toggle="tab">#001</a>
                    </li>
                </ul>

                <div id="pwc-challenges-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

                <div class="tab-content">
                    <div class="tab-pane active in" id="pwc_current_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_027_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_026_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_025_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_024_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_023_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_022_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_021_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_020_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_019_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_018_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_017_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_016_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_015_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_014_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_013_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_012_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_011_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_010_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_009_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_008_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_007_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_006_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_005_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_004_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_003_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_002_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_001_stats"></div>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <!-- Languages Chart -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInLeft;">
               <h2>LANGUAGES</h2>
               </div>
            </div>
        </div>

        <div class="row" style="margin-left: 15px">
            <div class="col-xs-12 col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a id="pwc_language_breakdown_summary" href="#pwc_language_breakdown_summary_stats" role="tab" data-toggle="tab">Summary</a>
                    </li>
                    <li>
                        <a id="pwc_language_breakdown" href="#pwc_language_breakdown_stats" role="tab" data-toggle="tab">Breakdown</a>
                    </li>
                </ul>

                <div id="pwc-language-breakdown-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

                <div class="tab-content">
                    <div class="tab-pane active in" id="pwc_language_breakdown_summary_stats"></div>
                    <div class="tab-pane" id="pwc_language_breakdown_stats"></div>
                </div>
            </div>
        </div>
    </div>
</section>
