<section id="chart">

    <!-- Members Chart -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInLeft;">
               <h2>MEMBERS</h2>
               </div>
            </div>
        </div>

        <div class="row" style="margin-left: 15px">
            <div class="col-xs-12 col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a id="pwc_summary_1_30" href="#pwc_summary_1_30_stats" role="tab" data-toggle="tab">1 .. 30</a>
                    </li>
                    <li>
                        <a id="pwc_summary_31_60" href="#pwc_summary_31_60_stats" role="tab" data-toggle="tab">31 .. 60</a>
                    </li>
                    <li>
                        <a id="pwc_summary_61_90" href="#pwc_summary_61_90_stats" role="tab" data-toggle="tab">61 .. 90</a>
                    </li>
                </ul>

                <div id="pwc-members-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

                <div class="tab-content">
                    <div class="tab-pane active in" id="pwc_summary_1_30_stats"></div>
                    <div class="tab-pane" id="pwc_summary_31_60_stats"></div>
                    <div class="tab-pane" id="pwc_summary_61_90_stats"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Leaders Chart -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInLeft;">
               <h2>LEADERS</h2>
               </div>
            </div>
        </div>

        <div class="row" style="margin-left: 15px">
            <div class="col-xs-12 col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a id="pwc_leaders" href="#pwc_leaders_stats" role="tab" data-toggle="tab">Summary</a>
                    </li>
                </ul>

                <div id="pwc-leaders-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

                <div class="tab-content">
                    <div class="tab-pane active in" id="pwc_leaders_stats"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Challenges Chart -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 0.3s; animation-name: fadeInLeft;">
               <h2>CHALLENGES</h2>
               </div>
            </div>
        </div>

        <div class="row" style="margin-left: 15px">
            <div class="col-xs-12 col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a id="pwc_current" href="#pwc_current_stats" role="tab" data-toggle="tab">Current</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_003" href="#pwc_challenge_003_stats" role="tab" data-toggle="tab">Challenge #003</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_002" href="#pwc_challenge_002_stats" role="tab" data-toggle="tab">Challenge #002</a>
                    </li>
                    <li>
                        <a id="pwc_challenge_001" href="#pwc_challenge_001_stats" role="tab" data-toggle="tab">Challenge #001</a>
                    </li>
                </ul>

                <div id="pwc-challenges-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

                <div class="tab-content">
                    <div class="tab-pane active in" id="pwc_current_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_003_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_002_stats"></div>
                    <div class="tab-pane" id="pwc_challenge_001_stats"></div>
                </div>
            </div>
        </div>
    </div>
</section>
