<section id="chart_toc">

    <!-- Table of Contents for Charts -->
    <div class="container">

          <br/>
          <div class="row">
            <div class="col-sm-12">
              <div class="panel text-center panel-info">
                 <div class="panel-heading">
                   <strong>TABLE OF CONTENTS</a></strong>
                 </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="panel text-center panel-success">
                 <div class="panel-heading">
                   <strong><a href="#members">MEMBERS</a></strong>
                 </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="panel text-center panel-default">
                 <div class="panel-heading">
                   <strong><a href="#guests">GUESTS</a></strong>
                 </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="panel text-center panel-warning">
                 <div class="panel-heading">
                   <strong><a href="#challenges">CHALLENGES</a></strong>
                 </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="panel text-center panel-danger">
                 <div class="panel-heading">
                   <strong><a href="#leaders">LEADERS</a></strong>
                 </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="panel text-center panel-info">
                 <div class="panel-heading">
                   <strong><a href="#guest-leaders">GUEST LEADERS</a></strong>
                 </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="panel text-center panel-success">
                 <div class="panel-heading">
                   <strong><a href="#languages">LANGUAGES</a></strong>
                 </div>
              </div>
            </div>
          </div>

    </div>

</section>

<section id="chart">

<!--  Start: New Chart Section -->

   <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> The Weekly Challenge </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#members">MEMBERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#guests">GUESTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#challenges">CHALLENGES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#leaders">LEADERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#guest-leaders">GUEST LEADERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#languages">LANGUAGES</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <main class="container mt-5">
        <!-- Members Section -->
        <div id="members" class="tab-content active">
            <h2>MEMBERS</h2>
            <!-- Tabs for Members Section -->
            <ul class="nav nav-tabs chart-tab" id="membersTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="member-tab1" data-bs-toggle="tab" data-bs-target="#memberData1"
                        type="button" role="tab" aria-controls="memberData1" aria-selected="true">Data Set 1</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="member-tab2" data-bs-toggle="tab" data-bs-target="#memberData2"
                        type="button" role="tab" aria-controls="memberData2" aria-selected="false">Data Set 2</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="memberData1" role="tabpanel" aria-labelledby="member-tab1">
                    <canvas id="memberChart1"></canvas>
                </div>
                <div class="tab-pane fade" id="memberData2" role="tabpanel" aria-labelledby="member-tab2">
                    <canvas id="memberChart2"></canvas>
                </div>
            </div>
        </div>

        <!-- Guests Section -->
        <div id="guests" class="tab-content">
            <h2>GUESTS</h2>
            <!-- Tabs for Guests Section -->
            <ul class="nav nav-tabs chart-tab" id="guestsTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="guest-tab1" data-bs-toggle="tab" data-bs-target="#guestData1"
                        type="button" role="tab" aria-controls="guestData1" aria-selected="true">Data Set 1</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="guest-tab2" data-bs-toggle="tab" data-bs-target="#guestData2"
                        type="button" role="tab" aria-controls="guestData2" aria-selected="false">Data Set 2</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="guestData1" role="tabpanel" aria-labelledby="guest-tab1">
                    <canvas id="guestChart1"></canvas>
                </div>
                <div class="tab-pane fade" id="guestData2" role="tabpanel" aria-labelledby="guest-tab2">
                    <canvas id="guestChart2"></canvas>
                </div>
            </div>
        </div>

        <!-- Additional sections for Challenges, Leaders, Guest Leaders, and Languages -->
        <!-- Challenges Section -->
        <div id="challenges" class="tab-content">
            <h2>CHALLENGES</h2>
            <!-- Tabs for Challenges Section -->
            <ul class="nav nav-tabs chart-tab" id="challengesTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="challenge-tab1" data-bs-toggle="tab"
                        data-bs-target="#challengeData1" type="button" role="tab" aria-controls="challengeData1"
                        aria-selected="true">Data Set 1</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="challenge-tab2" data-bs-toggle="tab"
                        data-bs-target="#challengeData2" type="button" role="tab" aria-controls="challengeData2"
                        aria-selected="false">Data Set 2</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="challengeData1" role="tabpanel"
                    aria-labelledby="challenge-tab1">
                    <canvas id="challengeChart1"></canvas>
                </div>
                <div class="tab-pane fade" id="challengeData2" role="tabpanel" aria-labelledby="challenge-tab2">
                    <canvas id="challengeChart2"></canvas>
                </div>
            </div>
        </div>

        <!-- Leaders Section -->
        <div id="leaders" class="tab-content">
            <h2>LEADERS</h2>
            <!-- Tabs for Leaders Section -->
            <ul class="nav nav-tabs chart-tab" id="leadersTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="leader-tab1" data-bs-toggle="tab" data-bs-target="#leaderData1"
                        type="button" role="tab" aria-controls="leaderData1" aria-selected="true">Data Set 1</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="leader-tab2" data-bs-toggle="tab" data-bs-target="#leaderData2"
                        type="button" role="tab" aria-controls="leaderData2" aria-selected="false">Data Set 2</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="leaderData1" role="tabpanel" aria-labelledby="leader-tab1">
                    <canvas id="leaderChart1"></canvas>
                </div>
                <div class="tab-pane fade" id="leaderData2" role="tabpanel" aria-labelledby="leader-tab2">
                    <canvas id="leaderChart2"></canvas>
                </div>
            </div>
        </div>

        <!-- Guest Leaders Section -->
        <div id="guest-leaders" class="tab-content">
            <h2>GUEST LEADERS</h2>
            <!-- Tabs for Guest Leaders Section -->
            <ul class="nav nav-tabs chart-tab" id="guestLeadersTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="guest-leader-tab1" data-bs-toggle="tab"
                        data-bs-target="#guestLeaderData1" type="button" role="tab" aria-controls="guestLeaderData1"
                        aria-selected="true">Data Set 1</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="guest-leader-tab2" data-bs-toggle="tab"
                        data-bs-target="#guestLeaderData2" type="button" role="tab" aria-controls="guestLeaderData2"
                        aria-selected="false">Data Set 2</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="guestLeaderData1" role="tabpanel"
                    aria-labelledby="guest-leader-tab1">
                    <canvas id="guestLeaderChart1"></canvas>
                </div>
                <div class="tab-pane fade" id="guestLeaderData2" role="tabpanel"
                    aria-labelledby="guest-leader-tab2">
                    <canvas id="guestLeaderChart2"></canvas>
                </div>
            </div>
        </div>

        <!-- Languages Section -->
        <div id="languages" class="tab-content">
            <h2>LANGUAGES</h2>
            <!-- Tabs for Languages Section -->
            <ul class="nav nav-tabs chart-tab" id="languagesTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="language-tab1" data-bs-toggle="tab"
                        data-bs-target="#languageData1" type="button" role="tab" aria-controls="languageData1"
                        aria-selected="true">Data Set 1</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="language-tab2" data-bs-toggle="tab"
                        data-bs-target="#languageData2" type="button" role="tab" aria-controls="languageData2"
                        aria-selected="false">Data Set 2</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="languageData1" role="tabpanel"
                    aria-labelledby="language-tab1">
                    <canvas id="languageChart1"></canvas>
                </div>
                <div class="tab-pane fade" id="languageData2" role="tabpanel"
                    aria-labelledby="language-tab2">
                    <canvas id="languageChart2"></canvas>
                </div>
            </div>
        </div>
    </main>

    <!-- Bootstrap JS (includes Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Chart.js Script -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            initCharts();

            function initCharts() {
                // Initialize each chart
                const memberChart1 = createChart('memberChart1', 'bar', [10, 20, 30, 40], 'Members Data Set 1');
                const memberChart2 = createChart('memberChart2', 'bar', [15, 25, 35, 45], 'Members Data Set 2');

                const guestChart1 = createChart('guestChart1', 'line', [5, 15, 25, 35], 'Guests Data Set 1');
                const guestChart2 = createChart('guestChart2', 'line', [10, 20, 30, 40], 'Guests Data Set 2');

                const challengeChart1 = createChart('challengeChart1', 'pie', [10, 30, 40, 20], 'Challenges Data Set 1');
                const challengeChart2 = createChart('challengeChart2', 'pie', [20, 20, 30, 30], 'Challenges Data Set 2');

                const leaderChart1 = createChart('leaderChart1', 'radar', [10, 20, 30, 40], 'Leaders Data Set 1');
                const leaderChart2 = createChart('leaderChart2', 'radar', [15, 25, 35, 45], 'Leaders Data Set 2');

                const guestLeaderChart1 = createChart('guestLeaderChart1', 'scatter', [
                    { x: 10, y: 20 },
                    { x: 15, y: 25 },
                    { x: 20, y: 30 }
                ], 'Guest Leaders Data Set 1');
                const guestLeaderChart2 = createChart('guestLeaderChart2', 'scatter', [
                    { x: 12, y: 22 },
                    { x: 18, y: 28 },
                    { x: 25, y: 35 }
                ], 'Guest Leaders Data Set 2');

                const languageChart1 = createChart('languageChart1', 'doughnut', [20, 30, 25, 25], 'Languages Data Set 1');
                const languageChart2 = createChart('languageChart2', 'doughnut', [25, 20, 30, 25], 'Languages Data Set 2');
            }

            function createChart(chartId, chartType, data, label) {
                return new Chart(document.getElementById(chartId), {
                    type: chartType,
                    data: {
                        labels: ['Q1', 'Q2', 'Q3', 'Q4'],
                        datasets: [{
                            label: label,
                            data: data,
                            backgroundColor: [
                                '#4e73df',
                                '#1cc88a',
                                '#36b9cc',
                                '#f6c23e'
                            ]
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            tooltip: {
                                callbacks: {
                                    label: function (context) {
                                        return `${context.label}: ${context.raw}`;
                                    }
                                }
                            }
                        }
                    }
                });
            }
        });
    </script>

<!--  End: New Chart Section -->

</section>
