{{ if .Site.Data.recaps.enable }}
{{ "<!-- Recaps Section Start -->" | safeHTML }}
<section id="recaps">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{ with .Site.Data.recaps.title }}<h2 class="subtitle text-center">{{ . }}</h2>{{ end }}
            </div>
            {{ range $index, $element:= .Site.Data.recaps.members }}
            <div class="col-md-2 col-sm-6">
                {{ $delay := mul $index 100 }}
                <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="{{ $delay }}ms">
                    <p class="social-icons">
                        {{ with .url }}<a href="{{ . }}">{{ end }}
                        {{ with .image }}<img src="{{ . }}" style="width:150px">{{ end }}</a>
                        {{ with .name }}<h3 class="team_name">{{ . }}</h3>{{ end }}
                    </p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- Recaps Section End -->" | safeHTML }}
{{ end }}
