[submodule "manwar.github.io"]
	path = manwar.github.io
	url = https://github.com/manwar/manwar.github.io
[submodule "public"]
	path = public
	url = https://github.com/manwar/manwar.github.io.git
	branch = master
