<nav class="twc-nav" id="twc-nav">
    <div class="nav-inner">
        <a href="{{ .Site.BaseURL }}" class="nav-logo">
            {{ if .Site.Params.logo }}
            <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" height="36">
            {{ else }}
            <span class="nav-logo-text">TWC</span>
            {{ end }}
        </a>

        <button class="nav-toggle" id="nav-toggle" aria-label="Toggle menu">
            <span></span><span></span><span></span>
        </button>

        <ul class="nav-menu" id="nav-menu">
            <li><a href="{{ .Site.BaseURL }}" class="nav-link{{ if .IsHome }} active{{ end }}">Home</a></li>
            <li><a href="{{ .Site.BaseURL }}about" class="nav-link">About</a></li>

            <li class="nav-dropdown">
                <a href="#" class="nav-link nav-drop-toggle">Community <span class="drop-arrow">&#9660;</span></a>
                <ul class="nav-dropdown-menu">
                    <li><a href="{{ .Site.BaseURL }}champions">Champions</a></li>
                    <li><a href="{{ .Site.BaseURL }}guests">Guests</a></li>
                    <li><a href="{{ .Site.BaseURL }}regulars">Regulars</a></li>
                </ul>
            </li>

            <li class="nav-dropdown">
                <a href="#" class="nav-link nav-drop-toggle">Challenges <span class="drop-arrow">&#9660;</span></a>
                <ul class="nav-dropdown-menu">
                    <li><a href="{{ .Site.BaseURL }}challenges">Challenges</a></li>
                    <li><a href="{{ .Site.BaseURL }}chart">Chart</a></li>
                </ul>
            </li>

            <li class="nav-dropdown">
                <a href="#" class="nav-link nav-drop-toggle">Reviews <span class="drop-arrow">&#9660;</span></a>
                <ul class="nav-dropdown-menu">
                    <li><a href="{{ .Site.BaseURL }}p5-reviews">Perl/Review</a></li>
                    <li><a href="{{ .Site.BaseURL }}p6-reviews">Raku/Review</a></li>
                    <li><a href="{{ .Site.BaseURL }}recaps">Recaps</a></li>
                </ul>
            </li>

            <li><a href="{{ .Site.BaseURL }}blogs" class="nav-link">Blog</a></li>

            <li class="nav-dropdown">
                <a href="#" class="nav-link nav-drop-toggle">Info <span class="drop-arrow">&#9660;</span></a>
                <ul class="nav-dropdown-menu">
                    <li><a href="{{ .Site.BaseURL }}faq">FAQ</a></li>
                    <li><a href="{{ .Site.BaseURL }}contact">Contact</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
