{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.contact.enable }}
{{ "<!-- Contact Section Start -->" | safeHTML }}
<section id="contact-section">
    <div class="container">
        <div class="row address-details">
            <div class="col-lg-4 col-sm-8">
                <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                    <i class="ion-ios-location-outline"></i>
                    {{ with .Site.Data.contact.officeAddress1 }}<h5>{{ . }}</h5>{{ end }}
                </div>
            </div>
            <div class="col-lg-4 col-sm-8">
                <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                    <i class="ion-ios-email-outline"></i>
                    <p>{{ with .Site.Data.contact.mail1 }}{{ . }}{{ end }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-8">
                <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                    <i class="ion-ios-email-outline"></i>
                    <p>{{ with .Site.Data.contact.mail2 }}{{ . }}{{ end }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Contact Section End -->" | safeHTML }}
{{ end }}

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}
