
.navbar-brand img {
    width: 100px;
}

.img-fluid {
    background: #ff7f27;
}

.top-bar {
    padding: 10px 0;
}

.top-bar.animated-header {
    padding: 15px 0;
}


/* BEGIN rjt's modifications 2020-01
 * New Challenges page design */

table.pwc-list {
    margin-left:    auto;
    margin-right:   auto;
    margin-top:     2em;
    margin-bottom:  2em;
    border:         2px solid #aaa;
    background:     #f8f8f8;
}

table.pwc-list th, td {
    border:         1px solid #aaa;
    border-collapse:on;
    font-family:    "Roboto", sans-serif;
    line-height:    22px;
    font-size:      16px;
    font-weight:    300;
}

table.pwc-list th {
    font-weight:    bold;
    background:     #02bdd5;
    color:          #eee;
    font-weight:    bold;
}

.pwc-center { text-align: center; }
.pwc-left   { text-align: left;   }
.pwc-right  { text-align: right;  }

.pwc-date   {
    font-style: oblique;
}

tr.pwc-list-row td, th {
    padding:        4px 8px 4px 8px;
}

tr:nth-of-type(even).pwc-list-row {
    background:     #ddd;
}

.pwc-num {
    font-weight:    bold;
    color:          #a82243;
    margin-right:   0.25em;
}

.pwc-numbered {
    padding:        0px;
    margin:         0px;
}

/* Week number column */
.pwc-week {
    display:        block;
    font-size:      28px;
    font-weight:    bold;
    color:          #02bdd5;
    margin:         -10em;
    padding:        10em;
}

.pwc-week:hover {
    color:          #9af2fe;
}

.pwc-week:visited {
    color:          #015965;
}

/* Review links */
td.review a {
    font-weight:    bold;
    color:          #02bdd5;
}

td.review a:hover {
    color:          #9af2fe;
}

td.review a:visited {
    color:          #015965;
}

/* Uncomment this to highlight this week's challenge */
/*
tr:nth-of-type(2).pwc-list-row {
    background:     #4ee9fd;
}
*/

/* Hover highlight for entire row */
tr:hover:nth-of-type(n+2).pwc-list-row {
    background:     #111;
    color:          #fff;
}

pre, code {
    font-size:      14px
}

.highlight, code {
    font:           "Source Code Pro", "Courier New", monospace;
}

hr {
    border-top:     1px solid rgba(0, 0, 0, 0.33);
}

/* <li> were weirdly small and had no bullet */
div.post-content li {
    font-size:      12px;
    color:          #666 !important;
    margin-left:    2em;
}

div.post-content ul li {
    list-style:     square !important;
}

div.post-content li code {
    font-size:      12px;
}

/* END rjt's modifications */

